body{
    background-color: beige;
    padding-top: 5%;
    padding-bottom: 5%;
}
h1{
    color: whitesmoke;
}

#profile-wrapper{
    text-align: center;
}
#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}